body {
    font: normal 100% "Helvetica Neue", Helvetica, "PingFang SC", Tahoma, Arial, sans-serif;
    background-color: rgb(245,239,224);
    margin:0;
}

.header{
    background-color: #FFFFFF;
    height: 60px;
    color: #009688;
    line-height: 60px;
    padding: 0 1rem;
    font-weight: bold;
}
.crop{
    background-color: rgb(245,239,224);
}
.crop>.logo{
    text-align: center;
}
.crop>.logo>img{
    max-width: 100%;
    border-width:0px;
}
.crop>.name{
    text-align: center;
    font-size: 2rem;
    color:#000000;
    padding: 30px 0px;
}

.crop>.scope{
    color: rgb(109,109,109);
    text-align: center;
    /*text-indent: 2em;*/
    padding: 1rem;
    line-height: 1.5rem;
}
.crop>.imgs{
    text-align: center;
}
.crop>.down{
    text-align: center;
}
.footer{
    text-align: center;
    color: rgb(109,109,109);
}
.footer a{
    color: white;
    text-decoration: none;
}
.footer a:hover{
    color:red;
    text-decoration: underline;
}
.footer>.en,.footer>.cn{
    font-size: 0.75rem;
    padding: 1em 0 0 0;
}
.business{
    background-color: #FFFFFF;
    padding: 8px;
}
.site-idea{
    max-width: 1140px;
    display: block;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    font-size: 0;
}
.site-idea li{
    display: inline-block;
    max-width: 298px;
    vertical-align: top;
    border: 1px solid #d2d2d2;
    padding: 10px 30px 0 30px;
    margin-left: 30px;
}
.site-idea li:first-child{
    margin-left: 0;
}
.site-idea li fieldset{
    margin:10px 0 0px 0;
    padding: 0;
    border-style: solid;
    border-width: 1px 0 0 0;
}
.site-idea li fieldset legend{
    margin: 0 20px 20px 0;
    padding: 0 20px;
    text-align: center;
    display: block;

    font-size: 1.25rem;
    font-weight: 300;
}
.site-idea li fieldset p{
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.5rem;
}


.blank-vertical{
    height: 50px;
}
@media screen and (min-width:1160px){
    .header-doc{
        max-width: 1160px;
        margin: 0 auto;
    }
    .crop>.scope{
        max-width: 1160px;
        margin: 0 auto;
    }
    
}
@media screen and (max-width: 1160px){
    .crop>.name,.crop>.scope{
        display: none;
    }
    .footer>.en>.name,.footer>.en>.icp{
        display: block;
    }
    .site-idea li{
        margin: 0;
        margin-bottom: 30px;
        max-width: 100%;
        border-width: 0;
    }
    .business .blank-vertical:last-child{
        display: none;
    }
}

